body{
    position: relative;
    background: #060;
    z-index: 0;
    position: relative;
}

.top-field:after{
    content:"";
    display:block;
    clear:both;
}

.home{
    margin-right: 20px;
}

.game-field{
    width: 960px;
    margin: auto;
    /*z-index: 1;*/
}

.cell, .deck-zone, .home-zone, .column{
    display: inline-block;
}

.cell, .card{
    height: 10em;
    width: 7em;

}

.cell{
    border: 2px solid #b20505;
    border-radius: 8px;
    float: left;

}

.deck-zone{
    margin-top: 50px;
    margin-left: 50px;
}

.deck-right{
    margin-left: 10px;
    float: right;
}

.deck-right > .card{
    position: absolute;
}

.card.grab{
 cursor: -webkit-grab;
}

.home-zone{
    margin-left: 100px;
}

.game-columns{
    margin-left: 50px;
    margin-top: 50px;
}

.game-columns:after{
    content:"";
    display:block;
    clear:both;
}

.clubs, .spades {
    color: #000;
}

.hearts, .diams {
    color: #f00;
}

.card.upend{
    background: url('../img/shirt.gif') center;
}

.deck{
    cursor: pointer;
}

.card{
    box-sizing: border-box;
    border: 0.2px solid black;
    background: #fff;
    border-radius: 4px;
}

.card .value, .card .suit{
    margin-left: 10px;
    font-size: 18px;
}

.empty-deck{
    background: #060;
}

.column{
    margin-right: 10px;
}


